<!DOCTYPE html>
<html lang="en">
    <head>                                                                                   
        <title>Add Site</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>

    <body>
        <nav>
            <ul class="wrap">
                <li><a href="/admin/add/" class="active">Add Site</a></li>
                <li><a href="/admin/queues/">Queues</a></li>
            </ul>
        </nav>
        <form method="POST" class="wrap">
            <label for="id_url">
                <strong>Site URL</strong>
                <input type="url" name="url" id="id_url" placeholder="http://example.com" required/>
            </label>
            <div class="submit">
                <button>Add Site</button>
            </div>
        </form>
    </body>
</html>