<!DOCTYPE html>
<html lang="en">
    <head>                                                                                   
        <title>Queues</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script data-main="/static/js/app" src="/static/js/lib/require/require-min.js"></script>
    </head>

    <body>
        <nav>
            <ul class="wrap">
                <li><a href="/admin/add/">Add Site</a></li>
                <li><a href="/admin/queues/" class="active">Queues</a></li>
            </ul>
        </nav>
        <div class="wrap">
            <div id="queues">

            </div>
        </div>
    </body>
</html>
