<!DOCTYPE html>
<html lang="en">
    <head>                                                                                   
        <title>Queue</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>

    <body>
        <nav>
            <ul class="wrap">
                <li><a href="/admin/add/">Add Site</a></li>
                <li><a href="/admin/queues/">Queues</a></li>
            </ul>
        </nav>
        <div class="wrap">
            <div id="links">

            </div>
        </div>
    </body>
</html>
